{% extends "employee/base.html" %} 
{% load static %} 
{% block title %} Schedule {% endblock %} 

{% block  header %}
    {% include "account/header/header.html" %}
{% endblock %}
{% block content %}
<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-sm-fill h3 my-2">
                    {{company.name}} <small class="d-block d-sm-inline-block mt-2 mt-sm-0 font-size-base font-w400 text-muted">{{company.about}}</small>
                </h1>
                <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-alt">
                        <li class="breadcrumb-item">
                            <a class="link-fx" href="{% url 'account-dashboard'%}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">Schedule</li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a class="link-fx">List</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Dynamic Table Full -->
        <div class="block">
            <div class="block-header">
                <h3 class="block-title">Schedule <small></small></h3>
            </div>
            <div class="block-content">
                <p class="font-size-sm text-muted">
                    This schedule includes the days and times that the employee is scheduled to be on the job
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 10%;">
                                    Day
                                </th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th style="width: 30%;">Task</th>
                                <th class="text-center" style="width: 15%;">Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in schedule %}
                            <tr>
                                <td class="text-center">
                                    {{s.day_of_week}}
                                </td>
                                <td class="font-w600 font-size-sm">
                                    {{s.start_time}}
                                </td>
                                <td class="font-w600 font-size-sm">
                                    {{s.end_time}}
                                </td>
                                <td class="font-size-sm"><em class="text-muted">{{s.task}}</em></td>
                                <td class="text-center">
                                    <span class="badge badge-primary">{{s.location.house_number}} {{s.location.address}}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END Dynamic Table Full --><!--Adding rates-->
        <div class="block">
            <div class="block-header">
                <h3 class="block-title">Add new Cash Register <small></small></h3>
            </div>
            <div class="block-content block-content-full">
                <!-- Search Form -->
                <form id="" action="{% url 'emp-schedule-add' employee.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-6 col-xl-4">
                            <div class="form-group">
                                <label>Day of the Week</label>
                                <select class="form-control" id="" name="weekday">
                                    <option value="0">Sunday</option>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Start</label>
                                <input required type="time" name="start_time" class="form-control" type="text" placeholder="enter the start time - Military format">
                            </div>
                            <div class="form-group">
                                <label>End</label>
                                <input required type="time" name="end_time" class="form-control" type="text" placeholder="enter the end time - Military format">
                            </div>
                            <div class="form-group">
                                <label>Task</label>
                                <textarea name="task" class="form-control">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
{% endblock %}
{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}
{% block  script %}
<!-- Page JS Plugins -->
<script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'js/plugins/datatables/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'js/plugins/datatables/buttons/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'js/plugins/datatables/buttons/buttons.print.min.js'%}"></script>
<script src="{% static 'js/plugins/datatables/buttons/buttons.html5.min.js'%}"></script>
<script src="{% static 'js/plugins/datatables/buttons/buttons.flash.min.js'%}"></script>
<script src="{% static 'js/plugins/datatables/buttons/buttons.colVis.min.js'%}"></script>

<!-- Page JS Code -->
<script src="{% static 'js/pages/be_tables_datatables.min.js'%}"></script>
{% endblock %}