{% extends "employee/base.html" %} 
{% load static %} 
{% block title %} Schedule {% endblock %} 

{% block  header %}
    {% include "header/header.html" %}
{% endblock %}
{% block content %}
<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-sm-fill h3 my-2">
                    {{company.name}} <small class="d-block d-sm-inline-block mt-2 mt-sm-0 font-size-base font-w400 text-muted">{{company.about}}</small>
                </h1>
                <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-alt">
                        <li class="breadcrumb-item">
                            <a class="link-fx" href="{% url 'emp-dashboard'%}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">Employee</li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a class="link-fx" href="{% url 'emp-schedule'%}">Schedule</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Full Table -->
        <div class="block">
            <div class="block-header">
                <h3 class="block-title">Schedule</h3>
            </div>
            <div class="block-content">
                <p class="font-size-sm text-muted">
                    This schedule includes the days and times that the employee is scheduled to be on the job
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 10%;">
                                    Day
                                </th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th style="width: 30%;">Task</th>
                                <th class="text-center" style="width: 15%;">Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in schedule %}
                            <tr>
                                <td class="text-center">
                                    {{s.day_of_week}}
                                </td>
                                <td class="font-w600 font-size-sm">
                                    {{s.start_time}}
                                </td>
                                <td class="font-w600 font-size-sm">
                                    {{s.end_time}}
                                </td>
                                <td class="font-size-sm"><em class="text-muted">{{s.task}}</em></td>
                                <td class="text-center">
                                    <span class="badge badge-primary">{{s.location.house_number}} {{s.location.address}}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END Full Table -->

    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
{% endblock %}
{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}